<%= render "header" %>

<div class="usershow">
  <div class="container">
    <% if current_user.subscriptions.count > 0 %>
      <h2>Your Subscription</h2>
      <%= current_user.subscriptions.first.first_name  %>
      <%= current_user.subscriptions.first.last_name  %>
    <% else %>
      <h1>Order Flowers</h1>
      <p>
        <%= link_to "Order Flowers", new_subscription_path %>
      </p>
    <% end %>
  </div>
</div>