<div class="container">
  <header id="header">
    <a href="/" class="logo ir">Madelinerosa</a>
    <ul class="header-links">
      <li><a href="/#howitworks" title="How it Works">How it Works</a></li>
      <li><a href="/#aboutus" title="About Us">About Us</a></li>
      <li><a href="/#faq" title="FAQs">FAQs</a></li>
      <li>
        <% if signed_in? %>
          <%= link_to "My Account", current_user %>
        <% end %>
      </li>
      <li>
        <% if signed_in? %>
          <%= link_to "Sign out", signout_path, method: "delete" %>
        <% else %>
          <%= link_to "Sign in", signin_path %>
        <% end %>
      </li>
    </ul>
  </header>
</div>
